/**
* This file is meant to just ensure the site that pops up is not completely
* unstyled. It is probably best if you remove it, and start from your design.
*/

body {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
}

.site-header,
main,
.site-footer, {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 .5em;
  @include clearfix;
}

.site-name {
  float: left;
}

#nav {
  float: right;

  a {
    display: inline-block;
    padding: .25em 1em;
    margin: 0 .5em;
    background-color: #cccccc;
  }
}
